/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    padding-top: 0px;
    padding-bottom: 20px;
    font-family: 'Raleway', sans-serif;
    background-color: #111;
    color: #f0f0f0;
}


@media (min-width: 1200px) {
	.container {
		width: 1010px;
	}
}

h1, h2, h3, h4 {
	font-family: 'Oswald', 'Raleway', sans-serif;
	font-weight: 300;
}

h1 {
	font-size: 60px;
}

#video {
	height: 551px;
	background: url(../img/hero.jpg) no-repeat top center scroll transparent;
	background-size: cover;
	cursor: pointer;
	display: table;
	width: 100%;
	border-bottom: 1px solid #939393;
}

#video .watch {
	height: 100%;
	width: 100%;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	font: 300 22px 'Oswald', 'Raleway', sans-serif;
	padding: 7px 0;
	text-shadow: 1px 1px 1px rgb(0,0,0);
}

.cta {
	margin: 130px 0;
}

.victory {
	font-size: 120px;
	color: #D62A2A; 
}

#about, #icons {
	margin: 20px 0;
	padding: 20px 0;
	font-size: 16px;
}

#about {
	border-top: 1px solid #5D5E69;
}

#about blockquote {
	border-left-color: #202020;
}

#about * {
	color: #afafaf;
}

#about h2 {
	margin: 2em 0;
	color: #f0f0f0;
	text-transform: uppercase;
	text-align: center;
}

hr {
	height: 1px;
	border-top: 1px dashed #333;
	margin: 2em;
}

/* ICONS */

@charset "UTF-8";

@font-face {
  font-family: "victory";
  src:url("../fonts/victory.eot");
  src:url("../fonts/victory.eot?#iefix") format("embedded-opentype"),
    url("../fonts/victory.woff") format("woff"),
    url("../fonts/victory.ttf") format("truetype"),
    url("../fonts/victory.svg#victory") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "victory" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="victory-"]:before,
[class*=" victory-"]:before {
  font-family: "victory" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.victory-fighter:before {
  content: "f";
}
.victory-pentagon:before {
  content: "p";
}
.victory-shield:before {
  content: "h";
}
.victory-star:before {
  content: "s";
}


.watch-bar {
    background-color: rgba(255, 255, 255, 0.31);
    font: 300 22px 'Oswald', 'Raleway', sans-serif;
    padding: 15px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.text-muted {
	color: #666;
}

.popover {
	background-color: #333;
}
.popover.top>.arrow:after {
    border-top-color: #333;
}

.btn-danger {
  background-color: #cc0000;
  border-color: #cc0000;
}




