		  body {
		      background-image: url("../img/launcher.jpg");
		      background-repeat: no-repeat;
		      width: 1002px;
		      height: 603px;
		      padding-top: 30px;
		  }

		  .widget_recent_news {
		      position: fixed;
		      top: 191px;
                      left: 514px;
                      width: 377px;
		  }
		  .widget_recent_news .panel-heading {
		  	background-image: url("../img/rgb181818.7.png");
		  	background-color: transparent;
		  }
		  a.news {
		  	color: #fff !important;
		  	text-decoration: none !important;
		  }


		  #footer,
		  .widget_recent_news {
		      background-image: url("../img/rgb181818.7.png");
		      background-color: transparent;
		  }
		  #footer {
		      position: absolute;
		      bottom: 0px;   
		      margin: 0px;
		      padding-left: 15px;
		      width: 100%;
		  }
		  #footer li {
		      display: inline-block;
		      list-style-type: none;
		      padding: 7px;
		      zoom: 1;
    		  *display: inline;
		  }
		  #footer li a {
		      text-transform: uppercase;
		      font-weight: bold;
		      color: #fff;
		  }
		  
		  #legal {
		      padding-top: 12px;
		  }
		  #legal small {
		  	color: #444;
		  	font-size: 80%;
		  }
		  
