/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #111;
    color: #f0f0f0;
}

footer {
	margin-top: 60px;
	padding-bottom: 100px;
}

h1, h2, h3, h4 {
	font-family: 'Oswald', 'Raleway', sans-serif;
	font-weight: 300;
}

h1 {
	font-size: 60px;
}

@media (min-width: 1200px) {
	.container {
		width: 1010px;
	}
}

.navbar {
	min-height: 30px;
	max-height: 30px;
	height: 30px;
	line-height: 30px;
}

.navbar a, .navbar a:visited {
	line-height: 30px;
	color: #f0f0f0;
	font-size: 12px;
}


.navbar img.language {
	margin-top: -2px;
	margin-right: 5px;
}

#menu-fixed {
	position: fixed;
	top: 5px;
	width: 100%;
	z-index: 1031;
	display: none;
}

#menu-fixed ul {
	margin: 5px 0 0;
	padding: 0;
	list-style: none;
}

#menu-fixed ul li {
	margin: 0;
	padding: 0;
	display: inline-block;
}

#menu-fixed ul li a,
#menu-fixed ul li a:visited {
	padding: 0 10px;
	font: 300 1.2em 'Oswald', 'Raleway', sans-serif;
	color: #f0f0f0;
}

#menu-fixed ul li a:hover {
	color: #a22;
	text-decoration: none;
}

#logo-fixed {
	width: 150px;
	margin: 0 auto;
}

#logo-fixed img {
	width: 100%;
}


#logo {
	position: absolute;
	top: 10px;
	left: 15px;
	z-index: 999 !important;
}

#menu {
	background: url(../img/menu.png) no-repeat top center scroll transparent;
	margin: 0;
	margin-top: 50px;
	padding: 0 1px;
	border-top: 1px solid #000;
	position: relative;
}

#menu .menu-container {
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	border-bottom: 1px solid #939393;
	height: 58px;
}

#menu .navbar-right {
	float: right!important;
}

#menu .navbar-nav>li {
	float: left;
}

#menu ul {
	margin: 0;
	border-left: 1px solid #000;
}


#menu li a,
#menu li a:visited {
	padding: 8px 10px 12px;
	width: 80px;
	border-left: 1px solid rgba(255,255,255, 0.10);
	border-right: 1px solid #000;
	font: 300 24px 'Oswald', 'Raleway', sans-serif;
	color: #f0f0f0;
}

@media(min-width: 768px) {
	#menu li a,
	#menu li a:visited {
		width: 125px;
	}
}

#menu li:last-of-type a,
#menu li:last-of-type a:hover {
	border-right: 0;
}


#menu li a:hover {
	background-color: #a22; /*871515;*/
}

#sign-up {
    display: none;
}

#apply-modal .modal-content,
#apply-modal button, 
#apply-modal button:hover, 
#apply-modal .form-control {
    background-color: #000;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #fff;
}
#apply-modal textarea {
    resize: none;
}

#apply-modal .modal-content {
    border-radius: 8px;
}

#earlyAccess h2 {
	text-align: center;
}

.modal-dialog {
	margin-top: 100px;
}

.navbar a, .navbar a:visited {
    line-height: 9px;
}

.nav>li>a:hover, .nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #3F3F3F;
}

.open>.dropdown-menu {
    background-color: #3F3F3F;
}


#messages .alert {
    margin: 0px 15px 0px 15px;
}
.alert-success {
	background-image: -webkit-linear-gradient(top,#97C386 0,#31A800 100%);
	background-image: linear-gradient(to bottom,#97C386 0,#31A800 100%);
	form.Microsoft.gradient(startColorstr='#97C386', endColorstr='#31A800', GradientType=0);
	border-color: #1A5A00;
	color: #D5FCDB;
}


#floatingCTA {
	background: #a22; /*871515;*/
	width: 220px;
	padding: 20px 0px 10px;
	position: fixed;
	bottom: 0px;
	right: 0;
	text-align: center;
	color: #111;
	font: 300 20px 'Oswald', 'Raleway', sans-serif;
}


#floatingCTA a, #floatingCTA a:hover, .cta>a, .cta>a:hover {
	color: #fff;
	text-decoration: none;
}